body {
    background-image: url("https://slm-assets1.secondlife.com/assets/16809496/original/gif_Decent_Starry_Night_Sky_4x4.gif?1491222283");
}
#container {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    width: 95%;
    background-color: darkred;
    border: 5px solid gold;
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button {
    margin: 5px;
    background-color: goldenrod;
    color: darkred;
    padding: 5px;
    border: 5px solid darkred;
}
button :hover {
    background-color: darkred;
    color:goldenrod;
}
img {
    margin: auto;
    width: inherit;
}
#form {
    text-align: right;
}
#favorites {
    position: fixed;
    right: 10px;
}
h1, h2, h3, h4 {
    font-weight: bold;
}
#gifsDiv {
    width: 400px;
    display: inline-block;
}
p {
    margin: 5px;
}